body{background-color:#00CCFF; color:#003366; font-family:"Arial", serif;}
a:link{color:#000033;}
h1{background-color:#3399FF; color:#003366; font-family:"Times New Roman"; border-top: thin solid #000000; border-bottom: thin solid #000000;
text-align: center; padding-top: 5px; padding-left: 10px; padding-bottom 5px;}
